.footer {
  background: #2e2f42;
  padding: 100px 141px;
}

.footer .container {
  padding-left: 15px;
}

.end-logo {
  color: #f4f4fd;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
}

.end-web-logo {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.end-logo:hover,
.end-logo:focus {
  color: #404bbf;
}
